In [2]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([2,4,6,8,10])
s2 = pd.Series([1,3,5,7,9])

In [5]:
print(f"added two series \n{s1+s2}")

added two series
0     3
1     7
2    11
3    15
4    19
dtype: int64

In [6]:
print(f"substract two series \n{s1-s2}")

substract two series
0    1
1    1
2    1
3    1
4    1
dtype: int64

In [7]:
print(f"multiply two series \n{s1*s2}")

multiply two series
0     2
1    12
2    30
3    56
4    90
dtype: int64

In [8]:
print(f"division two series \n{s1/s2}")

division two series
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [11]:
np_array = np.array([10,20,30,40,50])
print("numpy array")
print(np_array)
print()
pd_series = pd.Series(np_array)
print("pandas series")
print(pd_series)

numpy array
[10 20 30 40 50]

pandas series
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [12]:
# Creating dataframe

data  = {
    'Name': ['Alice','Bob','Charlie'],
    'Age' : [25, 30, 35],
    'City': ['New York', 'London', 'Paris']
}

df = pd.DataFrame(data)

print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

In [30]:
import pandas as pd
df = pd.read_csv('wine.csv', delimiter = ';')
df.shape

(2037, 12)

In [31]:
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.5,0.33,0.32,11.1,0.036,25.0,119.0,0.99620,3.15,0.34,10.5,6
1,6.3,0.27,0.29,12.2,0.044,59.0,196.0,0.99782,3.14,0.40,8.8,6
2,7.0,0.30,0.51,13.6,0.050,40.0,168.0,0.99760,3.07,0.52,9.6,7
3,7.4,0.38,0.27,7.5,0.041,24.0,160.0,0.99535,3.17,0.43,10,5
4,8.1,0.12,0.38,0.9,0.034,36.0,86.0,0.99026,2.80,0.55,12,6

In [32]:
df.tail()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
2032,8.1,0.34,0.28,7.5,0.040,70.0,230.0,0.99558,3.14,0.55,9.8,6
2033,7.4,0.19,0.31,14.5,0.045,39.0,193.0,0.99860,3.10,0.50,9.2,6
2034,6.7,0.36,0.26,7.9,0.034,39.0,123.0,0.99119,2.99,0.30,12.2,7
2035,7.7,0.28,0.35,15.3,0.056,31.0,117.0,0.99980,3.27,0.50,9.6,5
2036,5.7,0.22,0.28,1.3,0.027,26.0,101.0,0.98948,3.35,0.38,12.5,7

In [33]:
df.sample(5)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
755,5.8,0.20,0.16,1.4,0.042,44.0,99.0,0.98912,3.23,0.37,12.2,6
610,7.3,0.20,0.29,19.9,0.039,69.0,237.0,100.03700,3.10,0.48,9.2,6
1715,6.8,0.22,0.36,1.2,0.052,38.0,127.0,0.99330,3.04,0.54,9.2,5
545,7.4,0.27,0.49,1.1,0.037,33.0,156.0,0.99200,3.15,0.54,11.1,6
1046,6.4,0.25,0.30,5.5,0.038,15.0,129.0,0.99480,3.14,0.49,9.6,6